<div class="container-fluid">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
  
    <div class="login-wrapper">
      <div class="card p-3">
        <div class="card-body">
          <div class="text-center">
            <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" class="img">
            <p class="font-style mt-4 login-title">Forgot Password</p>
          </div>
          <div class="row p-3 mt-3">
            <div class="col-md-12">
              <form [formGroup]="forgotPasswordForm">
                <label class="font-size mt-1">Enter your email</label>
                <input type="text" class="form-control p-4" formControlName="email" placeholder="Enter your email"/>
                <div class="text-danger font-weight-bold mt-3"
                  *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched ">
                  Email is required
                </div>
                <div class="wrapper text-center">
                  <button class="btn btn-primary text-white p-3 mt-5" (click)="onSumit()">SUBMIT</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
