hr.hr{
  border: 2px solid #EFF3FC;
}
.card{
  background: #EFF3FC;
  border: 1px solid #D8D8FA;
  box-sizing: border-box;
  border-radius: 10px;
}
thead{
  background: #D8D8FA;
  border-radius: 5px;
}
h3{
  font-weight: 600;
  font-size: 45px;
}
