<hr class="hr">
<div class="row mt-3 ml-4 mr-4">
  <div class="col-md-12">
    <h3>Invoice</h3>
    <div class="card">
      <div class="card-body mt-n3">
        <strong>Invoice List</strong>
        <table class="table mt-3">
          <thead>
            <tr>
              <th class="font-weight-bold">Invoice ID</th>
              <th class="font-weight-bold">Start Date</th>
              <th class="font-weight-bold">End Date</th>
              <th class="font-weight-bold">Status</th>
              <th class="font-weight-bold">Amount</th>
              <th class="font-weight-bold">View</th>
              <th class="font-weight-bold">Download</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
