<div class="container-fluid">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card p-3">
        <div class="card-body">
          <div class="text-center">
            <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" class="img">
            <p class="font-style mt-4">Reset Password</p>
          </div>
          <div class="row p-3 mt-3">
            <div class="col-md-12">
              <form [formGroup]="resetPasswordForm">
                <div class="form-group">
                  <label class="font-size">Reset Token</label>
                  <input type="text" class="form-control p-4" formControlName="token" placeholder="Reset Token"/>
                  <div class="text-danger font-weight-bold mt-3"
                    *ngIf="resetPasswordForm.controls['token'].hasError('required') && resetPasswordForm.controls['token'].touched ">
                    Token is required
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-size mt-1">New Password</label>
                  <input type="password" class="form-control p-4" formControlName="password" placeholder="New Password"/>
                  <div class="text-danger font-weight-bold mt-3"
                    *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched ">
                    Password is required
                  </div>
                  <div class="text-danger font-weight-bold" *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && resetPasswordForm.controls['password'].touched">
                    Please enter at least 8 characters.
                  </div>
                </div>
                <div class="form-group">
                  <label class="font-size mt-1">Confirm Password</label>
                  <input type="password" class="form-control p-4" formControlName="confirmPassword" placeholder="Confirm Password"/>
                  <div class="text-danger font-weight-bold mt-3"
                    *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched ">
                    Confirm Password is required
                  </div>
                  <div class="text-danger font-weight-bold mt-3"
                    *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('ConfirmPassword') && resetPasswordForm.controls['confirmPassword'].touched">
                    Passsword and ConfirmPassword didn't match.
                  </div>
                </div>
                <div class="wrapper text-center">
                  <button class="btn btn-primary text-white p-3 mt-5" (click)="onSubmit()">SUBMIT</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
