.card{
  background-color: #EFF3FC;
  border: 1px solid #D8D8FA;
  box-sizing: border-box;
  border-radius: 20px;
}
.btn-primary{
  background: linear-gradient(180deg, #2CD1F9 0%, #0ABCE7 94.29%);
  border-radius: 10px;
  border-color: #2CD1F9;
  width: 50%;
}
input{
  background: #FFFFFF;
  box-shadow: 0px 2px 10px #DEE8FF;
  border-radius: 10px;
  height: 70px;
}
.img{
  width: 199px;
  height: 50px;
}
.font-style{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 69px;
  text-align: center;
  color: #31314F;
}
.f{
  font-size: 18px;
  line-height: 27px;
}
.font-size{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #31314F;
}
.btn{
  height: 70px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

@media (min-width: 0px) and (max-width: 766px) {
  .font-size{
    margin-top: 10%;
  }
  .media{
    padding: 2%;
    margin-top: -10%;
  }
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}