<div class="container-fluid">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
      <div class="col-md-2 col-lg-4"></div>
      <div class="col-sm-12 col-md-8 col-lg-4">
        <div class="card p-3">
          <div class="card-body">
            <div class="text-center">
              <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" class="img">
              <p class="font-style mt-4">VERIFY ACCOUNT</p>
            </div>
            <div class="row p-3">
              <div class="col-md-12">
                <p class="f">An email has been sent to your email
                    address containing an activation link.
                    Please click on the link to activate your
                    account. </p>

                <p class="f text-danger">If you do not click the link your
                    account will remain inactive and you will
                    not receive further emails.</p>    

                 <p class="f"> If you do not
                    receive the email within a few minutes,
                    please check your spam.</p>   
                 <br/><br/>
                  <button class="btn btn-primary mt-3 text-white" (click)="onSubmit()">LOG IN</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-4"></div>
    </div>
  </div>