<!-- <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/">
      <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="../../../assets/images/imgpsh_fullsize_anim (1).png" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
     <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"
      (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button> 

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        <img src="../../../assets/images/Group 144.png" class="img p-2"/>
      </li>
      <li class="nav-item ml-3">
        <img src="../../../assets/images/Group 140.png" class="img2 p-2"/>
      </li>
      <li class="nav-item v ml-3">
        <div class="vertical mt-n3"></div>
      </li>
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
          <div class="nav-profile-img">
            <img src="../../../assets/images/faces-clipart/pic-1.png" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{currentUser.firstName}}{{currentUser.lastName}}</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
          <a class="dropdown-item" routerLink="/profile-management">
            <i class="mdi mdi-cached mr-2 text-success"></i>
            Edit Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="mdi mdi-logout mr-2 text-primary"></i>
            logout
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>


<ng-template #content let-modal>
  <div class="modal-content p-5">
    <div class="modal-body text-center">
      <h2>Are you sure, You want to log-out?</h2>
      <p>It is long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      <button class="bn btn-primary text-white p-3" (click)="logout()">LOGOUT</button>
    </div>
  </div>
</ng-template> -->
